<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#">About</a></li>
    <li><a ng-href="#">Contact</a></li>
  </ul>
  <h3 class="text-muted">rockPaperScissors</h3>
</div>

<div class="jumbotron" ng-controller="rockPaperScissorsCtrl">
  <h2>Rock Paper Scissors!</h2>
  The Hulk is ng-ry. You won't like him when he's ng-ry.
  Name: <input ng-model="name"></br>
  Choose your weapon and fight!

  <select></select>

  <h4><b>{{name}}</b> vs. <b>The Hulk</b></h4>

  <img src="http://cdn-0.adherents.com/lit/comics/img/h/Hulk.jpg" height="220px;" width="150px;"></img>

  <p><a class="btn btn-lg btn-success" ng-href="#">FIGHT!</a></p>
</div>

<div class="footer">
  <p>Built by Austin from RJMetrics</p>
</div>
